<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Libs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MicroKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Runes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ThirdParty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>166ED62E198D0F6D0002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166ED638198D0F6D0002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166ED6A8198D11270002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166ED6B2198D11270002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166ED6CC198D115B0002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>166ED6D6198D115B0002E147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168E1E881986AF6E00C56E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168E1E9A1986AF6E00C56E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168E1EB31987EE2D00C56E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168E1EBD1987EE2D00C56E3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
